{% extends 'tienda/base.html' %}
{% load static %}
{% load humanize %}
{% block contenido_body %}

  <section class="container">
    <div class="row d-flex justify-content-center">
      <img  id="boton_comprar" class="img-fluid w-25" src="{% static 'tienda/img/titulo-carrito.png'%}" alt="banner_controlpanel">
    </div>


    <div class="row">

      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive table-hover">
              <table class="table table-striped">
                <tr>
                  <th>Nombre</th>
                  <th>Precio</th>
                  <th>Cantidad</th>
                  <th>Valor</th>
                  <th></th>
                </tr>

                {% if request.session.carrito.items %}
                {% for key, value in request.session.carrito.items %}
                  <tr>
                    <td>{{value.nombre}}</td>
                    <td> 
                      <a href="{% url 'agregarProductoCarrito' value.producto_id %}" class="btn btn-dark">+</a> 
                      <a href="{% url 'restarProductoCarrito' value.producto_id %}" class="btn btn-dark">-</a>
                    </td>
                    <td>{{value.valor}}</td>
                    <td> <a href="{% url 'eliminarProductoCarrito' value.producto_id %}" class="btn btn-danger">Eliminar</a> </td>
                  </tr>
                {% endfor %}
                {% else %}
                <div class="text-bg-secondary p-3 fw-bold text-center fs-3">Sin productos</div>
                {% endif %}
              </table>
            </div>
          </div>
        </div>
      </div> 
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive table-hover">
              <table class="table table-striped">
                <tr>
                  <th>Resumen de compra</th>
                  <th></th>
                </tr>
                <tr>
                  <td>Total de tu compra: </td>
                  <td>${{total_carrito}}</td>
                </tr>
                <tr>
                  <td> <a href="{% url 'limpiarProductoCarrito' %}" class="btn btn-warning">Limpiar carrito</a> </td>
                  <td> <a href="" class="btn btn-warning">Comprar</a> </td>
                </tr>
              </table>
            </div>
          </div>
        </div>      
      </div> 
    </div>
  </section>



{% endblock %}