{% extends 'tienda/base.html' %}
{% load static %}
{% load humanize %}
{% block contenido_body %}

    <!--Inicio carrusel-->

    
    <div class="contenedor-carrusel row ">
      <div id="carouselExampleAutoplaying" class="carousel slide ps-0 pe-0" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'tienda/img/carrusel1.jpg'%}" class="d-block w-100" alt="...">
            <div class="carousel-caption">
              <h3>Gaming Gear</h3>
              <p>Los mejores accesorios para triunfar!</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{% static 'tienda/img/carrusel2.jpg'%}" class="d-block w-100" alt="...">
            <div class="carousel-caption">
              <h3>Figuras anime y juegos</h3>
              <p>Las mejores figuras completamente originales!</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{% static 'tienda/img/banner-4.png'%}" class="d-block w-100" alt="...">
            <div class="carousel-caption">
              <h3>Mundo Cosplay</h3>
              <p>Encarna a tu personaje favorito y vive tu propia aventura!</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <!--Fin carrusel-->

    <!--Inicio seccion categorias-->

    <div class="row mt-5">
      <div class="contenedor-titulo h-auto d-inline-block ">
        <div class="col text-center">
          <img class="img-fluid" src="{% static 'tienda/img/CATEGORIAS-COMIC.png'%}" alt="titulo-cat" width="550">
        </div>
      </div>
    </div> 



    <div class="row m-5 mt-3">
      <div class="col-md-6 mt-3">
        <div class="boton-categoria ">
          <button type="button" class="btn btn-primary btn-dark btn-lg w-100">Anime <img src="{% static 'tienda/img/boton-anime.png'%}" class="ms-5" alt=""></button>
        </div>
      </div>
      <div class="col-md-6 mt-3">
        <div class="boton-categoria">
          <a class="text-decoration-none text-white btn btn-primary btn-dark btn-lg w-100"   href="#">Gamer <img src="{% static 'tienda/img/boton-game.png'%}" class="ms-5" alt="boton-gamer"> </a>
        </div>  
      </div> 
      <div class="col-md-6 mt-3">
        <div class="boton-categoria">
          <a class="text-decoration-none text-white btn btn-primary btn-dark btn-lg w-100"   href="{% url 'manga'%}">Mangas <img src="{% static 'tienda/img/boton-manga.png'%}" class="ms-5" alt="boton-manga"> </a>
        </div>  
      </div> 
      <div class="col-md-6 mt-3">
        <div class="boton-categoria">
          <button type="button" class="btn btn-primary btn-dark btn-lg w-100">Cosplay <img src="{% static 'tienda/img/boton-cosplay.png'%}" alt=""></button>
        </div>
      </div>
    </div> 





    <!--Fin seccion categorias-->

    <!--Inicio sección productos-->

    <div class="row mt-3">
      <div class="contenedor-titulo h-auto d-inline-block ">
        <div class="col text-center">
          <img class="img-fluid" src="{% static 'tienda/img/titulo-productos.png'%}" alt="titulo-cat" width="650">
        </div>
      </div>
    </div> 



    <!--Función para manipular los sweet alert y asociarle el id para que levante al eliminar redirigiendo con promise al url que aloja la def eliminarProducto-->
    <script src="{% static 'tienda/js/funcion_eliminar_alert.js'%}"></script>


    <!--Inicio cards de productos-->

    <section>
      <div class="container py-5">
          <div id="fila-cards" class="row g-4 ">
            {% if user.is_staff or user.is_superuser %}
            <div class="col-9 col-sm-7 col-md-4 col-lg-3">
              <div class="card p-4 bg-body-tertiary " >
                <div class="card-body text-center">
                  <a href="{% url 'agregarProducto'%}">
                    <img src="{% static 'tienda/img/add.png' %}" class="img-thumbnail " alt="img-card">
                  </a>
                  <h5 class="card-title mt-3">Agregar nuevo producto</h5>
                  <br>
                  <br>
                </div>
              </div>
            </div>
            {% endif %}
            {% for p in Productos %}
            <div class="col-9 col-sm-7 col-md-4 col-lg-3">
              <div class="card p-4 bg-body-tertiary " >
                <div class="card-body text-center">
                  <a href="{% url 'producto' p.id %}">
                    {% if p.imagen %}
                    <img src="{{ p.imagen.url }}" class="img-thumbnail " alt="img-card">
                    {% endif %}
                  </a>
                  <h5 class="card-title mt-3">{{p.nombre_producto}}</h5>
                  <p class="card-text">{{p.descripcion_producto}}</p>
                  <p class="card-text fw-bolder">${{p.precio | intcomma}}</p>
                  <a href="{% url 'agregarProductoCarrito' p.id %}" class="btn btn-dark">
                    Agregar al carrito
                  </a>
                  {% if user.is_staff or user.is_superuser %}
                  <div class="mt-2">
                    <a class="btn btn-warning" href="{% url 'modificarProducto' p.id %}">Editar</a>
                    <a class="btn btn-danger" href="#" onclick="eliminarProducto({{p.id}})">Eliminar</a>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
      </div>



      <!-- Modal boton carrito -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Pssst</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center fw-bold">
              Producto agregado al carrito exitosamente ! <img src="{% static 'tienda/img/btn-agregarcarrito.png'%}" alt="">
            </div>
            <div class="modal-footer">
              <a class="btn btn-primary" href="{% url 'carrito' %}">Ir al carrito de compras</a>
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Seguir comprando</button>
            </div>
          </div>
        </div>
      </div>
    <!--Fin seccion productos y config del modal-->      
    </section>
{% endblock %}