{% extends 'tienda/base.html' %}
{% load static %}
{% load humanize %}
{% block contenido_body %}

    <!--Inicio seccion categorias-->

    <div class="row mt-5">
      <div class="contenedor-titulo h-auto d-inline-block ">
        <div class="col text-center">
          <img class="img-fluid" src="{% static 'tienda/img/CATEGORIAS-COMIC.png'%}" alt="titulo-cat" width="550">
        </div>
      </div>
    </div> 



    <div class="row m-5 mt-3">
      <div class="col-md-4 mt-3">
        <div class="boton-categoria ">
          <button type="button" class="btn btn-primary btn-dark btn-lg w-100">Anime <img src="{% static 'tienda/img/boton-anime.png'%}" class="ms-5" alt=""></button>
        </div>
      </div>
      <div class="col-md-4 mt-3">
        <div class="boton-categoria">
          <a class="text-decoration-none text-white btn btn-primary btn-dark btn-lg w-100"   href="#">Gamer <img src="{% static 'tienda/img/boton-game.png'%}" class="ms-5" alt="boton-gamer"> </a>
        </div>  
      </div> 
      <div class="col-md-4 mt-3">
        <div class="boton-categoria">
          <a class="text-decoration-none text-white btn btn-primary btn-dark btn-lg w-100"   href="{% url 'manga'%}">Mangas <img src="{% static 'tienda/img/boton-manga.png'%}" class="ms-5" alt="boton-manga"> </a>
        </div>  
      </div> 
    </div> 



    <div class="row m-5">
      <div class="col-md-6 pb-3">
        <div class="boton-categoria">
          <button type="button" class="btn btn-primary btn-dark btn-lg w-100">Cosplay <img class="ms-5" src="{% static 'tienda/img/boton-cosplay.png'%}" alt=""></button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="boton-categoria">
          <button type="button" class="btn btn-primary btn-dark btn-lg w-100">Figuras <img class="ms-5" src="{% static 'tienda/img/boton-figura.png'%}"  alt=""> </button>
        </div>  
      </div> 
    </div> 

    <!--Fin seccion categorias-->

    <!--Inicio sección productos-->

    <div class="row mt-3">
      <div class="contenedor-titulo h-auto d-inline-block ">
        <div class="col text-center">
          <img class="img-fluid" src="{% static 'tienda/img/titulo-productos.png'%}" alt="titulo-cat" width="650">
        </div>
      </div>
    </div> 



    <!--Inicio cards de productos-->

    <section>
      <div class="container py-5">
          <div id="fila-cards" class="row g-4 ">
            {% for p in Productos %}
            <div class="col-9 col-sm-7 col-md-4 col-lg-3">
              <div class="card p-4 bg-body-tertiary " >
                <div class="card-body text-center">
                  <a href="{% url 'producto' pk=p.id_producto %}">
                    {% if p.imagen %}
                    <img src="../media/{{ p.imagen }}" class="img-thumbnail " alt="img-card">
                    {% endif %}
                  </a>
                  <h5 class="card-title mt-3">{{p.nombre_producto}}</h5>
                  <p class="card-text">{{p.descripcion_producto}}</p>
                  <p class="card-text fw-bolder">${{p.precio | intcomma}}</p>
                  <button type="button" class="btn btn-primary btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Agregar al carrito
                  </button>
                  {% if user.is_staff or user.is_superuser %}
                  <div class="mt-2">
                    <a class="btn btn-dark" href="#">Editar</a>
                    <a class="btn btn-dark" href="#">Eliminar</a>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
      </div>



      <!-- Modal boton carrito -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Pssst</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center fw-bold">
              Producto agregado al carrito exitosamente ! <img src="{% static 'tienda/img/btn-agregarcarrito.png'%}" alt="">
            </div>
            <div class="modal-footer">
              <a class="btn btn-primary" href="carrito.html">Ir al carrito de compras</a>
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Seguir comprando</button>
            </div>
          </div>
        </div>
      </div>
    <!--Fin seccion productos y config del modal-->      
    </section>
{% endblock %}