<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@600&family=Fasthand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Tomodachi's Store</title>
</head>
<body>
    <!--Nav1-->
  <div class="container-fluid">

    <!--Barra negra promo-->
    <div class="row ">
      <div class="contenedor-barra-negra h-auto d-inline-block ps-0 pe-0 bg-dark">
        <div class="col text-center">
          <img class="imagenbarra-negra pt-2 mb-3 img-fluid" src="img/bannernegro.png" alt="promocion" width="400">
        </div>
      </div>
    </div>



    <!--Barra de navegacion-->
    <div class="row">
      <nav class="navbar navbar-expand-md bg-light-subtle opacity-75">
        <div class="container-fluid">
            <a class="text-decoration-none text-black" href="index.html"><p id="textologo" class="navbar-brand mt-3">Tomodachis Store<img src="img/gatito-logo.png" alt=""></p></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="iconosbarra collapse navbar-collapse text-sm-center justify-content-sm-end" id="navbarSupportedContent">
            <ul class="navbar-nav m-md mb-md-0">
              <li class="nav-item pt-md-2">
                <a class="nav-link active" aria-current="page" href="index.html">Inicio</a>
              </li>
              <li class="nav-item pt-md-2">
                <a class="nav-link" href="login.html">Registro</a>
              </li>
              <li class="nav-item pt-md-2">
                <a class="nav-link" href="#">Ofertas</a>
              </li>
              <li class="nav-item dropdown pt-md-2">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Zona Anime
                </a>
                <ul class="dropdown-menu pt-md-2">
                  <li><a class="dropdown-item" href="manga.html">Mangas</a></li>
                  <li><a class="dropdown-item" href="#">Cosplay</a></li>
                </ul>
              </li>  
              <li class="nav-item dropdown pt-md-2">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Zona Gamer
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="gamer.html">Gears</a></li>
                  <li><a class="dropdown-item" href="gamer.html">Juegos</a></li>
                </ul>               
              </li>             
              <li class="nav-item icono-carrito pt-md-2">
                <a class="nav-link" href="carrito.html">
                  <i class="bi bi-bag"><img class="mb-1 me-lg-6" src="img/bag.svg" alt="derp"></i>
                  Carrito</a>
              </li>
              <li class="nav-item icono-login pt-md-2">
                <a class="nav-link" href="login.html"><i class="bi bi-bag"><img class="mb-1 me-3" src="img/person-fill-gear.svg" alt="derp"></i>Login</a>
              </li>
            </ul>
          </div>
        </div>
     </nav>
    </div>
    <!--Fin barra de navegacion-->



    <!--Inicio login-->
    <section class="container">
      <div id="login-web" class="m-5 d-flex justify-content-center align-items-center">
          <div class="bg-secondary bg-opacity-25 p-5 rounded-5">
            <div class="d-flex justify-content-center">
              <div>
                  <img src="img/icono-login.png" alt="login-user">
              </div>
          </div>
          <div class="text-center fs-3 fw-bold">Registro</div>
            <div>
              <form class="formulario row" id="formulario" action="" enctype="multipart/form-data" method="get">
                <div class="col-xs-12 col-sm-12 col-md-6 ">
                  <div id="grupo__rut" class="m-2 form-group">
                    <label class="form-label formulario__label" for="rut">Rut:</label>
                    <div class="formulario__grupo-input">
                      <input class="form-control formulario__input" type="text" name="rut" id="rut" placeholder="Ingrese su rut">
                    </div>
                    <p class="fw-bold formulario__input-error">Rut largo, usar . y - </p>
                  </div>
                  <div id="grupo__name" class="m-2 form-group">
                    <label class="form-label formulario__label" for="nombre">Nombre:</label>
                    <div class="formulario__grupo-input">
                      <input class="form-control formulario__input" type="text" name="nombre" id="nombre" placeholder="Ingrese su nombre">
                    </div>
                    <p class=" fw-bold formulario__input-error">Llenar nombre</p>
                  </div>
                  <div id="grupo__appaterno" class="m-2 form-group">
                    <label class="form-label formulario__label " for="apellidop">Apellidos:</label>
                    <div class="formulario__grupo-input">
                      <input class="form-control formulario__input" type="text" name="apellidop" id="apellidop" placeholder="Ingrese sus apellidos">
                    </div>
                    <p class="fw-bold formulario__input-error">Llenar apellidos</p>
                  </div>
                  <div id="grupo__correo" class="m-2 form-group">
                    <label class="form-label formulario__label" for="correo">Correo electronico:</label>
                    <div class="formulario__grupo-input">
                      <input class="form-control formulario__input" type="text" name="correo" id="correo" placeholder="correo@correo.com">
                    </div>
                    <p class="fw-bold formulario__input-error">Ingrese email</p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 ">
                  <div id="grupo__password" class="m-2 form-group">
                    <label class="form-label formulario__label" for="password">Contraseña:</label>
                    <div class="formulario__grupo-input">
                      <input class="form-control formulario__input" type="password" name="password" id="password" placeholder="Ingrese su contraseña">
                    </div>
                    <p class=" fw-bold formulario__input-error">Debe ser de 8 a 12 dig.</p>
                  </div>
                  <div id="grupo__password2" class="m-2 form-group">
                    <label class="form-label formulario__label" for="password2">Confirmar Contraseña:</label>
                    <div class="formulario__grupo-input">
                      <input class="form-control formulario__input" type="password" name="password2" id="password2" placeholder="Confirme su contraseña">
                    </div>
                    <p class=" fw-bold formulario__input-error">Passwords no coinciden</p>
                  </div>
                  <div id="grupo__edad" class="m-2 form-group">
                    <label class="form-label formulario__label" for="edad">Edad:</label>
                    <div class="formulario__grupo-input">
                      <input class="form-control formulario__input" type="number" min="0" max="99" name="edad" id="edad" placeholder="Ingrese su edad">
                    </div>
                    <p class="fw-bold formulario__input-error">Ingrese su edad 0 - 99</p>
                  </div>
                  <div id="grupo__genero" class="m-2 form-group">
                    <label class="form-label formulario__label" for="genero">Genero</label>
                    <div class="formulario__grupo-input">
                      <select class="form-select formulario__input" name="genero" id="genero">
                        <option selected value="1">-</option>
                        <option value="2">Femenino</option>
                        <option value="3">Masculino</option>
                      </select>
                    </div>
                  </div>
                </div>
              </form>
              <button type="submit"" class="btn btn-primary btn-dark mt-3 w-100" data-bs-toggle="modal" data-bs-target="#exampleModal">Enviar</button>
            </div>
          </div>
        </div>
      </section>
    <!--Fin login-->

    <!-- Modal boton carrito -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Pssst</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center fw-bold">
              Usuario registrado revisa tu email ! <img src="img/btn-agregarcarrito.png" alt="">
            </div>
            <div class="modal-footer">
              <a class="btn btn-primary bg-dark" href="index.html">Ir al HOME</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  <!--Fin seccion productos y config del modal-->    



  <!--Inicio footer-->
    <footer class="text-center">
      <div class="row pt-5 bg-dark text-white mt-5">
        <div class="col-xs-12 col-md-6 col-lg-3 ">
          <p class="h3 mt-1">Tomodachis Puroguramers<img src="img/gatito-logo64.png" alt="logo-pagina"> </p>
        </div>
        <div class="col-xs-12 col-md-4 col-lg-2 mt-4 ">
          <p class="h5">Redes sociales</p>
          <a href="#" class="text-white"><img src="img/facebook.png" alt="logofeis"></a>
          <a href="#" class="text-white"><img src="img/instagram.png" alt="logoinsta"></a>
          <a href="#" class="text-white"><img src="img/twitta.png" alt="logotwitter"></a>
        </div>
        <div class="col-xs-12 col-md-4 col-lg-2 mt-4">
          <p class="h5">Términos legales</p>
          <div>
            <a href="#" class="text-white text-decoration-none">Aviso legal</a>
          </div>
          <div>
            <a href="#" class="text-white text-decoration-none">Política de envios</a>
          </div>
          <div>
            <a href="#" class="text-white text-decoration-none">Política de privacidad</a>
          </div>
          <div>
            <a href="#" class="text-white text-decoration-none">Politica de devolucion</a>
          </div>
          <div>
            <a href="formulario.html" class="text-white text-decoration-none">Contacto</a>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg mt-4">
          <p class="h5">Encuentranos !</p>
          <p class="h5">Blanco #8528</p>
          <div id="mapa" class="container_mapa"></div>
        </div>
        <div class="pt-5">
          <p class="h7 pt-5">Todos los derechos reservados Ivan Duarte Herrera © </p>
        </div>
        
      </div>
    </footer>
  
  
  
  
  
  
  
  
  
  </div> 
  <!--Fin container body-->
  
  
      <!--Script-->
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAiM-uOjAVu38ma8Eq0Wi6cF4LrW4mbGQ&libraries=places&callback=initMap" defer></script>
      <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
      <script src="js/map.js"></script>
      <script src="js/script.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
  </html>