{% extends 'tienda/base.html' %}
{% load static %}
{% load humanize %}
{% block contenido_body %}


    <!--Barra categoria manga-->
    <div class="row mb-5">
        <div class="contenedor-titulo h-auto d-inline-block ">
          <div class="col text-center">
            <img class="img-fluid w-25" src="{% static 'tienda/img/manga-banner.png'%}" alt="titulo-manga">
          </div>
        </div>
    </div> 

    <!--Inicio catalogo manga-->

    <section class="container">
        <div class="row g-5 ">
            <div class="col-lg-3 border-end">
                <div class="mb-3">
                    <h5>Filtro por categoria: </h5>
                </div>
                <div class="mb-3">
                    <input type="checkbox"> <td>Horror</td>
                </div>
                <div class="mb-3">
                    <input type="checkbox"> <td>Fantasía</td>
                </div>
                <div class="mb-3">
                    <input type="checkbox"> <td>Comedia</td>
                </div>
                <div class="mb-3">
                    <input type="checkbox"> <td>Romance</td>
                </div>
                <div class="mb-3">
                    <input type="checkbox"> <td>Paranormal</td>
                </div>
                <div>
                    <button type="button" class="btn btn-primary btn-dark w-100" data-bs-toggle="modal" data-bs-target="#exampleModal">Filtrar</button>
                </div>
            </div>
            <div class="descripcion-container col-lg-8">
                <div id="fila-cards" class="row g-4 ">
                  {% for p in Productos %}
                  <div class="col-9 col-sm-7 col-md-4">
                    <div class="card p-4 bg-body-tertiary " >
                      <div class="card-body text-center">
                        <a href="{% url 'producto' pk=p.id_producto %}">
                          {% if p.imagen %}
                          <img src="../media/{{ p.imagen }}" class="img-thumbnail " alt="img-card">
                          {% endif %}
                        </a>
                        <h5 class="card-title mt-3">{{p.nombre_producto}}</h5>
                        <p class="card-text">{{p.descripcion_producto}}</p>
                        <p class="card-text fw-bolder">${{p.precio | intcomma}}</p>
                        <button type="button" class="btn btn-primary btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
                          Agregar al carrito
                        </button>
                        {% if user.is_staff or user.is_superuser %}
                        <div class="mt-2">
                          <a class="btn btn-dark" href="#">Editar</a>
                          <a class="btn btn-dark" href="#">Eliminar</a>
                        </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                  {% endfor %}                    
                </div>
            </div>
        </div>
    </section>

{% endblock %}