{% extends 'tienda/base.html' %}
{% load static %}
{% load humanize %}
{% block contenido_body %}


    {% csrf_token %}
    <!--Inicio descripcion producto-->

    {% if Productos %}
    <section class="container mt-5">
        <div class="row g-5 ">     
               
            <div class="col-lg-4 ">    
                <img class="img-fluid" src="{{ Productos.imagen.url }}" alt="nodisp">
            </div>
            
            <div class="descripcion-container col-lg-8">
                <h2 id="titulo_producto">
                  {{Productos.nombre_producto}}
                </h2>
                <h3 id="desc_precio">
                  ${{Productos.precio | intcomma}}
                </h3>
                <p id="desc_descripcion" class="mb-5">
                  {{Productos.descripcion_producto}}
                </p>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-6 w-25">
                                Categoria: 
                            </div>
                            <div id="desc_categoria" class="col-lg-6 fw-bold">
                              {{Productos.categoria}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-lg-6">
                      <a href="{% url 'agregarProductoCarrito' Productos.id %}" class="btn btn-dark">
                        Agregar al carrito
                      </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}


    <!--Fin descripcion producto-->


      <!-- Modal boton carrito -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Pssst</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center fw-bold">
              Producto agregado al carrito exitosamente ! <img src="img/btn-agregarcarrito.png" alt="">
            </div>
            <div class="modal-footer">
              <a class="btn btn-primary" href="carrito.html">Ir al carrito de compras</a>
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Seguir comprando</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Fin seccion productos y config del modal-->

{% endblock %}