{% extends 'tienda/base.html' %}
{% load static %}
{% load humanize %}
{% block contenido_body %}


    <!--Función para manipular los sweet alert y asociarle el id para que levante al eliminar redirigiendo con promise al url que aloja la def eliminarProducto-->
    <script src="{% static 'tienda/js/funcion_eliminar_alert.js'%}"></script>

    
        <div class="row">
            <div class="col-md-12 text-center">
                <img class="img-fluid" src="{% static 'tienda/img/banner-listar-productos.png'%}" alt="banner_controlpanel">
            </div>
        </div>

    <section class="container">
        <div class="table-responsive table-hover mt-5">
            <table class="table table-striped ">
                <thead>
                    <tr>
                        <th>ID Producto</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Paginas</th>
                        <th>Idioma</th>
                        <th>Editorial</th>
                        <th>Portada</th>
                        <th></th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in Productos %}
                    <tr>
                        <td class="fw-bold">{{ p.id }}</td>
                        <td> {{ p.nombre_producto }} </td>
                        <td> {{ p.precio | intcomma}} </td>
                        <td> {{ p.paginas }} </td>
                        <td> {{ p.idioma }} </td>
                        <td> {{ p.editorial }} </td>
                        {% if p.imagen %}
                        <td> <img src="{{ p.imagen.url }}" alt="imagen_producto" class="w-25"></td>
                        {% endif %}
                        <td><a class="btn btn-warning" href="{% url 'modificarProducto' p.id %}">Editar</a></td>
                        <td><a class="btn btn-danger" href="#" onclick="eliminarProducto({{p.id}})">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}