{% extends 'tienda/base.html' %}
{% load static %}
{% block contenido_body %}


    <section class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <img src="{% static 'tienda/img/banner-control-panel.png'%}" alt="banner_controlpanel">
            </div>
        </div>
        <div class="row p-0">
            <div class="col-md-6">
                <a href="">
                    <img src="" alt="">
                </a>
            </div>
            <div class="col-md-6">
                <a href="">
                    <img src="" alt="">
                </a>
            </div>
            <div class="col-md-6">
                <a href="">
                    <img src="" alt="">
                </a>
            </div>
            <div class="col-md-6">
                <a href="">
                    <img src="" alt="">
                </a>
            </div>
        </div>
    </section>


{% endblock %}